name: amap_location
description: A new flutter plugin project.
version: 0.2.0
author: JZoom
homepage: https://github.com/best-flutter/flutter_amap_location

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: com.jzoom.amaplocation
    pluginClass: AmapLocationPlugin
